<a class="menu-item"
   href="https://www.github.com/katzenj"
   target="_blank"
   rel="noopener noreferrer"
   aria-label="Link to my github profile">
    <i class="ph ph-github-logo text-2xl"></i>
</a>
<a class="menu-item"
   href="https://www.linkedin.com/in/jordankatzen/"
   target="_blank"
   rel="noopener noreferrer"
   aria-label="Link to my LinkedIn profile">
    <i class="ph ph-linkedin-logo text-2xl"></i>
</a>
<button onclick="toggleTheme()"
        class="px-1 hover:text-amber-700 dark:hover:text-amber-400"
        active:text-black
        dark:active:text-white
        aria-label="Toggle dark mode">
    <i class="hidden dark:inline-block ph ph-sun text-2xl"></i>
    <i class="dark:hidden ph ph-moon-stars text-2xl"></i>
</button>
