<header class="my-8 ">
    <div class="grid grid-cols-3">
        <div>
            <h1 class="text-4xl font-bold tracking-tight text-teal-700 dark:text-sinbad">
                <a href="{{ '/' | url }}">{{ metadata.title }}</a>
            </h1>
        </div>
        <div class="menu flex flex-row place-content-center items-end">{% include "menu-items.njk" %}</div>
        <nav class="flex items-end">
            <ul id="nav-content" class="mt-2 grid grid-cols-4 md:flex md:flex-row">
                {%- for entry in collections.all | eleventyNavigation %}
                    <li class="font-semibold mx-2 underline-offset-2 hover:underline {% if entry.url == page.url %}underline{% endif %} block sm:inline-block sm:text-center py-2 sm:py-0 md:text-right text-left">
                        <a href="{{ entry.url | url }}"
                           aria-label="Link to page {{ entry.title }}">{{ entry.title }}</a>
                    </li>
                {%- endfor %}
            </ul>
        </nav>
    </div>
    <hr class="mt-6" />
</header>
