<ul>
{% for note in notesList %}
  <li class="py-1">
    <a href="{{ note.url | url }}" aria-label="Go to page for highlight {{note.data.title}}" class="text-lg font-medium text-teal-700 pr-2 hover:underline">
      {% if note.data.title %}{{ note.data.title }}{% else %}<code>{{ note.url }}</code>{% endif %}
    </a>
    {% for tag in note.data.tags | filterTagList %}
      {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="post-tag" aria-label="Go to page for tag {{tag}}">
        {{ tag }}
      </a>
    {% endfor %}
  </li>
{% endfor %}
</ul>
