<div class="pt-2 grid grid-cols-[1fr_auto] gap-2 w-full">
    {% for ele in data %}
        <div>
            <a href="{{ ele.url | url }}"
               aria-label="Go to page {{ ele.data.title }}"
               class="text-md font-medium text-teal-700 dark:text-sinbad pr-2 hover:underline">
                {% if ele.data.title %}
                    {{ ele.data.title }}
                {% else %}
                    <code>{{ ele.url }}</code>
                {% endif %}
            </a>
        </div>
        {% if ele.date %}
            <time class="text-right" datetime="{{ ele.date | htmlDateString }}">{{ ele.date | readableDate }}</time>
        {% endif %}
    {% endfor %}
</div>
