
<div class="mt-12">
  <h1 class="page-header">Recs</h1>

  <div class="mt-4 mb-8">

    {%- if recs.articlesList %}
    <h3 class="text-lg font-medium">Articles</h3>
    <div class="md:ml-8 mb-4">
      <ul>
        {% for article in recs.articlesList %}
          <li class="py-1">
            <a href="{{ article.url | url }}" target="_blank" aria-label="Go to article line for article {{article.title}}" class="mr-1 underline">
              {{ article.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    {%- endif %}

    {%- if recs.booksList %}
    <h3 class="text-lg pt-8 md:pt-0 font-medium">Books</h3>
    <div class="books-list md:ml-8 mb-4">
      <ul>
        {% for book in recs.booksList %}
          <li class="py-1">
            <a href="{{ book.url | url }}" target="_blank" aria-label="Go to shop for book {{book.title}}" class="mr-1 underline">{{ book.title }}</a>
            by {{ book.author }}

            {%- if book.review %}
              <p class="pt-1 ml-8 w-2/3">{{ book.review }}</p>
            {%- endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
    {%- endif %}

  </div>
</div>
