
<div class="mt-12">
  <h1 class="page-header">Some things I like</h1>

  <div class="mt-4 mb-8">

    {%- if recs.articlesList %}
    <h3 class="text-md">Articles</h3>
    <div class="ml-8 mb-4">
      <ul class="list-disc">
        {% for article in recs.articlesList %}
          <li class="py-1">
            <a href="{{ article.url | url }}" target="_blank" aria-label="Go to article line for article {{article.title}}" class="mr-1 underline">
              {{ article.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    {%- endif %}

    {%- if recs.booksList %}
    <h3 class="text-md pt-8 md:pt-0">Books</h3>
    <div class="books-list ml-8 mb-4">
      <ul class="list-disc">
        {% for book in recs.booksList %}
          <li class="py-1">
            <a href="{{ book.url | url }}" target="_blank" aria-label="Go to shop for book {{book.title}}" class="mr-1 underline">{{ book.title }}</a>
            by {{ book.author }}

            {%- if book.review %}
              <p class="pt-1 ml-8 w-2/3">{{ book.review }}</p>
            {%- endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
    {%- endif %}
    {%- if recs.links %}
    <h3 class="text-md pt-8 md:pt-0">Other</h3>
    <div class="books-list ml-8 mb-4">
      <ul class="list-disc">
        {% for link in recs.links %}
          <li class="py-1">
            <a href="{{ link.url | url }}" target="_blank" aria-label="{{link.label}}" class="mr-1 underline">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    {%- endif %}

  </div>
</div>
