a {
  padding: 0 5px;
  text-decoration: none;
  color: black;
}

a:hover,
a:focus {
  color: rgba(0, 0, 0, 0.58);
}

.projects {
  overflow: hidden;
}

.picture {
  left: 50%;
  position: relative;
  transform: translate(-50%);
  width: 40%;
}

.loading-content {
  min-height: 0.5rem;
  width: 100%;
}

.animate {
  animation: shimmer 2s infinite linear;
  background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
  background-size: 1000px 100%;
}

.unanimated {
  display: none;
}

.bmc-container {
  text-align: center;
  width: 100%;
}

/* BMC styles copied and slightly modified from buymeacoffee.com's generated HTML/CSS. */
.bmc-button img {
  border: none;
  box-shadow: none;
  height: 34px;
  margin-bottom: 1px;
  vertical-align: middle;
  width: 35px;
}

.bmc-button {
  color: #FFFFFF;
  background-color: #FF813F;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5);
  display: inline-flex;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  height: 51px;
  line-height: 35px;
  margin: 32px auto 0 auto;
  min-width: 217px;
  padding: 7px 10px 7px 10px;
  text-decoration: none;
  transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  -moz-transition: 0.3s all linear;
  -ms-transition: 0.3s all linear;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5);
  -webkit-transition: 0.3s all linear;
}

.bmc-button:hover,
.bmc-button:active,
.bmc-button:focus {
  color: #FFFFFF;
  box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5);
  opacity: 0.85;
  text-decoration: none;
  -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5);
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }

  100% {
    background-position: 1000px 0;
  }
}

@media only screen and (max-width: 991px) {
  p {
    font-size: 14px;
  }

  .picture {
    width: 50%;
  }
}

@media only screen and (max-width: 700px) {
  .picture {
    width: 70%;
  }
}