a {
    padding: 0 5px;
    text-decoration: none;
    color: black;
}

a:hover, a:focus {
    color: rgba(0, 0, 0, 0.58);
}

.projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

@media only screen and (max-width: 700px) {
    .projects {
        justify-content: center;
    }
}