.footer {
  margin-top: 3rem;
  padding: 40px 0;
  background-color: #edeeee;
  text-align: center;

  p {
    padding-left: 5px;
    color: black;
    font-size: 16px;
    margin: 0;
  }

  a {
    padding: 0 5px;
    text-decoration: none;
    color: black;
  }

  a:hover,
  a:focus {
    color: rgba(0, 0, 0, 0.58);
  }
}

.bmc-text {
  margin-left: 15px;
  font-size: 19px;
}
