.header {
  background-color: #edeeee;
  margin: 0 auto 40px auto;
  padding: 20px 20% 0px 20%;

  h1 {
    margin: 0;
    padding: 16px 0;
  }
}

.title {
  color: #000000;
  font-size: 2rem;
  margin-bottom: 0px;
  text-decoration: none;
}

.nav-list {
  list-style-type: none;
  padding-bottom: 16px;
  margin: 0;

  li {
    display: inline-block;
    width: auto;
  }

  .nav-item {
    color: #777;
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: 1.3rem;
    text-decoration: none;

    &:hover {
      color: #222;
      font-size: 1.3rem;
    }
  }
}

.active-nav-item {
  color: #222;
}

@media only screen and (max-width: 991px) {
  .header {
    padding: 20px 10% 0px 10%;

    h1 {
      padding-top: 0px;
    }

    .title {
      font-size: 1.8rem;
      text-decoration: none;
    }

    .nav-item {
      font-size: 0.9rem;

      &:hover {
        color: #666666;
        font-size: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .header {
    .title {
      color: #000000;
      font-size: 1.5rem;
      text-decoration: none;
    }
  }
}
