.project {
  display: inline-block;
  min-width: 200px;
  overflow: hidden;
  vertical-align: top;

  .imageContainer {
    float: left;
    width: 40%;
  }

  .textContainer {
    float: left;
    width: 59%;
  }

  img {
    max-height: 316px;
    padding-right: 32px;
  }

  p {
    padding-bottom: 8px;
    font-size: 16px;
  }

  a {
    transition: box-shadow 160ms ease 0s;
    border-bottom: 2px solid rgb(207, 243, 255);
    text-decoration: none;
    color: #323336;

    &:hover {
      box-shadow: rgb(207, 243, 255) 0px -1.2em 0px inset;
      color: #323336;
    }
  }
}

@media only screen and (max-width: 667px) {
  .project {
    width: 100%;

    .imageContainer {
      float: none;
      text-align: center;
      width: 100%;
    }

    .textContainer {
      width: 100%;
    }
  }
}
