.section {
    padding-bottom: 15px;
    display: flex;
    flex-flow: row wrap;
    line-height: 1.2rem;

    h3 {
        margin: 0;
        padding-bottom: 5px;
    }

    p {
        margin: 0;
        font-size: 14px;
    }

    li {
        font-size: 14px;
        margin-bottom: 5px;
    }
}

.column-medium {
    width: 33%;
    float: left;
    padding-right: 3%;
    min-width: 200px;
}

.column-large {
    width: 66%;
    float: left;
}

@media only screen and (max-width: 991px) {
    .column-large {
        width: 50%;
    }
}

@media only screen and (max-width: 700px) {
    .section {
        h1, h3, p {
            padding: 0;
            text-align: center;
        }
    }

    .column-medium {
        padding-bottom: 16px;
    }

    .column-large {
        width: 100%;
    }

    .section {
        justify-content: center;

        h3 {
            font-size: 18px;
        }
    
        p {
            font-size: 12px;
        }
    }
}
