<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">

    {#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
    {#- <meta name="generator" content="{{ eleventy.generator }}"> #}

    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-diff.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <script src="https://kit.fontawesome.com/e2bbc5068f.js" crossorigin="anonymous"></script>
  </head>
  <body class="w-4/5 m-auto">
    <header class="mx-auto my-8">
      <div class="flex flex-row justify-between">
        <div>
          <h1 class="text-4xl font-bold hover:text-red tracking-tighter"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
        </div>

        <div class="flex flex-row place-content-center items-end">
          <a
            class="px-1 hover:text-teal-600"
            href="mailto:jkatzen8@gmail.com"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="fa-solid fa-paper-plane"></i>
          </a>
          <a
            class="px-1 hover:text-teal-600"
            href="https://www.github.com/katzenj"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="fa-brands fa-github"></i>
          </a>
          <a
            class="px-1 hover:text-teal-600"
            href="https://www.linkedin.com/in/jordankatzen/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="fa-brands fa-linkedin"></i>
          </a>
          <a
            class="px-1 hover:text-teal-600"
            href="https://strava.com/athletes/jordanktz"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="fa-solid fa-person-biking"></i>
          </a>
        </div>

        <div class="flex items-end">
          {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
          <ul class="list-none flex justify-evenly">
          {%- for entry in collections.all | eleventyNavigation %}
            <li class="font-bold mx-2 {% if entry.url == page.url %}underline{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
          {%- endfor %}
          </ul>
        </div>
      </div>
      <hr class="mt-6" />
    </header>

    <main>
      {{ content | safe }}
    </main>

    <footer class="absolute bottom-0 w-4/5">
      <hr />
      <div class="h-6 my-8 text-center">
        <p>© Jordan Katzen 2022</p>
      </div>
    </footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
