<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <meta name="generator" content="{{ eleventy.generator }}">

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content="{{ title or metadata.title }}" />
    <meta property="og:description" content="{{ description or metadata.description }}" />
    <meta property="og:url" content="{{ page.url or metadata.url }}" />
    <meta property="og:type" content="{{ type or metadata.type }}" />
    {# <meta property="og:image" content="" /> #}

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="{{ page.url or metadata.url }}" />
    <meta property="twitter:title" content="{{ title or metadata.title }}" />
    <meta property="twitter:description" content="{{ description or metadata.description }}" />
    {# <meta property="twitter:image" content={new URL(image, Astro.url)} /> #}

    <link rel="canonical" href="{{ metadata.url }}" />

    <!-- Icons -->
    <!-- https://favicon.io/ -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ '/static/apple-touch-icon.png' | url }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ '/static/favicon-32x32.png' | url }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ '/static/favicon-16x16.png' | url }}"
    />
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Funnel+Sans:wght@0,100...900;1,100...900&display=swap" rel="stylesheet">

    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script defer src="/_vercel/insights/script.js"></script>
  </head>
  <body class="container w-10/12 lg:w-1/2 xl:w-1/3 m-auto h-screen flex flex-col dark:bg-neutral-900 text-black dark:text-white">
    <header class="my-8 ">
      <div class="flex flex-row justify-between">
        <div>
          <h1 class="text-4xl font-bold tracking-tight text-teal-700 dark:text-teal-300"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
        </div>

        <div class="menu flex flex-row place-content-center items-end">
          {% include "menu-items.njk" %}
        </div>

        <nav class="flex items-end">
          <ul id="nav-content-web" class="hidden sm:block mt-2">
            {%- for entry in collections.all | eleventyNavigation %}
              <li class="font-semibold mx-2 underline-offset-2 hover:underline {% if entry.url == page.url %}underline{% endif %} block sm:inline-block text-right sm:text-center py-2 sm:py-0">
                <a href="{{ entry.url | url }}" aria-label="Link to page {{entry.title}}">{{ entry.title }}</a>
              </li>
            {%- endfor %}
          </ul>

          <div class="flex-col">
          <div id="nav-toggle" class="cursor-pointer flex items-center justify-between sm:hidden">
            <span id="toggle-text" class="font-semibold me-2">Show Navigation</span>
            <span id="toggle-icon" class="inline-block transition-transform duration-200">▼</span> 
          </div>
          <ul id="nav-content" class="hidden mt-2">
            {%- for entry in collections.all | eleventyNavigation %}
              <li class="font-semibold mx-2 underline-offset-2 hover:underline {% if entry.url == page.url %}underline{% endif %} block sm:inline-block text-right sm:text-center py-2 sm:py-0">
                <a href="{{ entry.url | url }}" aria-label="Link to page {{entry.title}}">{{ entry.title }}</a>
              </li>
            {%- endfor %}
          </ul>
        </div>
        </nav>
      </div>
      <hr class="mt-6" />
    </header>

    <main class="mb-8 grow">
      {{ content | safe }}
    </main>

    <footer class="pb-8">
      <hr />
      <div class="mt-8 text-center">
        <div class="footer-menu flex flex-row place-content-center items-end mb-4">
          {% include "menu-items.njk" %}
        </div>
        <p>© Jordan Katzen <span id="current-year"></span></p>
      </div>
    </footer>
  </body>
  <script>
    document.getElementById('current-year').textContent = new Date().getFullYear();

    document.addEventListener('DOMContentLoaded', () => {
      const navToggle = document.getElementById('nav-toggle');
      const navContent = document.getElementById('nav-content');
      const toggleText = document.getElementById('toggle-text');
      const toggleIcon = document.getElementById('toggle-icon');
      let isOpen = false;

      navToggle.addEventListener('click', () => {
        isOpen = !isOpen;
        toggleText.textContent = isOpen ? 'Close Navigation' : 'Show Navigation';
        toggleIcon.style.transform = isOpen ? 'rotate(180deg)' : 'rotate(0deg)';

        // I wish I knew why I needed to add margin-top. Nothing else worked.
        if (isOpen) {
          navContent.classList.remove('hidden');
          navToggle.classList.add('mt-[16px]')
        } else {
          navContent.classList.add('hidden'); 
          navToggle.classList.remove('mt-[16px]')
        }
      });
    });

    // Check for saved theme preference, otherwise use system preference
    const theme = localStorage.getItem('theme') || 
        (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');

    // Apply theme on page load
    document.documentElement.setAttribute('data-theme', theme);
    addThemeClass(theme);

    function toggleTheme() {
      const currentTheme = document.documentElement.getAttribute('data-theme');
      const newTheme = currentTheme === 'dark' ? 'light' : 'dark'

      document.documentElement.setAttribute('data-theme', newTheme);
      localStorage.setItem('theme', newTheme);
      addThemeClass(newTheme);
    }

    function addThemeClass(theme) {
      if (theme === "dark") {
        document.documentElement.classList.add("dark")
      } else {
        document.documentElement.classList.remove("dark")
      }
    }
  </script>
</html>
