<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <meta name="generator" content="{{ eleventy.generator }}">
    <!-- Icons -->
    <!-- https://favicon.io/ -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ '/static/apple-touch-icon.png' | url }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ '/static/favicon-32x32.png' | url }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ '/static/favicon-16x16.png' | url }}"
    />
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <script src="https://kit.fontawesome.com/e2bbc5068f.js" crossorigin="anonymous"></script>
    <script defer src="/_vercel/insights/script.js"></script>
  </head>
  <body class="container w-4/5 m-auto h-screen flex flex-col">
    <header class="my-8">
      <div class="flex flex-row justify-between">
        <div>
          <h1 class="text-4xl font-bold tracking-tighter text-teal-600"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
        </div>

        <div class="flex flex-row place-content-center items-end">
          <a
            class="px-1 hover:text-teal-600"
            href="mailto:info@jordankatzen.com"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Send an email to info@jordankatzen.com"
          >
            <i class="fa-solid fa-paper-plane"></i>
          </a>
          <a
            class="px-1 hover:text-teal-600"
            href="https://www.github.com/katzenj"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Link to my github profile"
          >
            <i class="fa-brands fa-github"></i>
          </a>
          <a
            class="px-1 hover:text-teal-600"
            href="https://www.linkedin.com/in/jordankatzen/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Link to my LinkedIn profile"
          >
            <i class="fa-brands fa-linkedin"></i>
          </a>
          <a
            class="px-1 hover:text-teal-600"
            href="https://strava.com/athletes/jordanktz"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Link to my Strava profile"
          >
            <i class="fa-solid fa-person-biking"></i>
          </a>
        </div>

        <div class="flex items-end">
          <ul class="list-none flex justify-evenly">
          {%- for entry in collections.all | eleventyNavigation %}
            <li class="font-bold mx-2 {% if entry.url == page.url %}underline{% endif %}">
              <a href="{{ entry.url | url }}" aria-label="Link to page {{entry.title}}">{{ entry.title }}</a>
            </li>
          {%- endfor %}
          </ul>
        </div>
      </div>
      <hr class="mt-6" />
    </header>

    <main class="mb-8 grow">
      {{ content | safe }}
    </main>

    <!-- Current page: {{ page.url | url }} -->
    <footer class="pb-8">
      <hr />
      <div class="mt-8 text-center">
        <p>© Jordan Katzen 2023</p>
      </div>
    </footer>
  </body>
</html>
