---
layout: layouts/base.njk
templateClass: tmpl-notes
description: "{{ description }}"
---

<div class="h-full note">
  <article>
    {# Post header info #}
    <div class="pb-4 md:pb-12">
        <div>
            {# I tried font-old-style but it looked odd when other places didn't have it #}
            <h1 class="text-3xl tracking-tight font-bold pb-2">{{ title }}</h1>
            {%- for tag in tags | filterTagList %}
                {%- set tagUrl %}/tags/{{ tag | slugify }}/
                {% endset %}
                <a href="{{ tagUrl | url }}"
                   aria-label="Go to page for tag {{ tag }}"
                   class="post-tag">{{ tag }}</a>
            {%- endfor %}
        </div>
        <div class="pr-2 text-sm opacity-90">
            <span><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></span>
            {%- if page.date | readableDate != updated_at | readableDate %}
            <span>&#x2022;</span>
            <span>Last updated: <time datetime="{{ updated_at | htmlDateString }}">{{ updated_at | readableDate }}</time></span>
            {% endif %}
        </div>
    </div>
    <div class="post-content prose">{{ content | safe }}</div>
  </article>
</div>
