---
layout: layouts/base.njk
templateClass: tmpl-post
---
<div class="h-full prose prose-slate">
  {# Post header info #}
  <div class="pb-4">
    <h1 class="text-3xl tracking-tight font-bold pb-2">{{title}}</h1>

    <time class="pr-4" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
    {%- for tag in tags | filterTagList %}
    {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
    <a href="{{ tagUrl | url }}" aria-label="Go to page for tag {{tag}}" class="post-tag">
      {{tag}}
    </a>
    {%- endfor %}
  </div>

  <article>
    <div class="post-content">
      {{ content | safe }}
    </div>
  </article>

  {%- if collections.sortedEssays %}
    {# Previous will get the previous post in chronological order which would be the "next" element #}
    {%- set previousPost = collections.sortedEssays | getNextCollectionItem(page) %}

    {# Next will get the next post in chronological order (aka newest) which would be the "previous" element #}
    {%- set nextPost = collections.sortedEssays | getPreviousCollectionItem(page) %}

    {%- if nextPost or previousPost %}
      <div class="py-12">
        -------
        <ul>
          {%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}" class="underline" aria-label="Go to post {{nextPost.data.title}}">{{ nextPost.data.title }}</a></li>{% endif %}
          {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}" class="underline" aria-label="Go to post {{previousPost.data.title}}">{{ previousPost.data.title }}</a></li>{% endif %}
        </ul>
      </div>
    {%- endif %}
  {%- endif %}
</div>
