/*----- GLOBAL -----*/
html {
    font-family: 'Verela', sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    width: 100%;
    background-color: white;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
h1 {
    color: black;
    font-size: 48px;
}
h2 {
    margin-bottom: 20px;
}
h3 {
    margin: 0px;
}
p {
    color: black;
    font-size: 16px;
}
.column-medium {
    width: 39%;
    float: left;
    padding-right: 3%;
    min-height: 175px;
}
.column-large {
    width: 58%;
    float: left;
    min-height: 175px;
}

/*----- nav -----*/
nav a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin-top: 30px;
}
nav li {
    color: black;
    font-size: 16px;
}
nav #siteLinks a:hover {
    color: #686b6b;
}
nav .siteElements a {
    padding-left: 7.5px;
    padding-right: 7.5px;
}
nav .navbar-brand, .navbar-brand a:hover {
    text-decoration: none;
    color: black;
    cursor: default;
}


/*----- header -----*/
.header-wrapper {
    width: 80%;
    margin: 0 auto;
}
header {
    margin: 100px 0 100px 0;
    text-align: center;
}
header p {
    width: 45%;
    margin: 30px auto 0 auto;
}
.profile-pic {
    height: 375px;
    width: 375px;
    border-radius: 50%;
}

/*----- work -----*/
.content-wrap {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}
.work a img {
    margin: 1%;
    width: 280px;
    height: 448px;
}

/*----- projects -----*/
.projects {
    margin-bottom: 40px;
}
.column-small {
    width: 31%;
}
.project-title {
    text-align: center;
}
.row {
    display: flex;
    justify-content: space-evenly;
}
.todo-pic, .adopt-pic {
    display: block;
    height: 316px;
    width: 157px;
    margin: 20px auto;
}
.sg-video {
    display: block;
    margin: 20px auto;
}

/*----- footer -----*/
footer {
    text-align: center;
    margin: 60px 0;
}

footer p {
    color: #404348;
}

/*----- RESPONSIVE -----*/
@media only screen and (max-width: 991px) {
     header p {
         width: 90%;
     }
}

@media only screen and (max-width: 768px) {
    header {
        width: 96%;
        margin: 100px auto 100px auto;
        text-align: left;
    }
}
