/*----- GLOBAL -----*/
html {
    font-family: 'Verela', sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    width: 100%;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
h1 {
    color: black;
    font-size: 48px;
}
h2 {
    margin-bottom: 20px;
}
h3 {
    margin: 0px;
}
p, li {
    color: black;
    font-size: 16px;
}
section {
    padding: 30px 0;
}
.column-large {
    width: 58%;
    float: left;
    min-height: 175px;
}
.column-medium {
    width: 39%;
    float: left;
    padding-right: 3%;
    min-height: 175px;
}
.column-small {
    width: 31%;
    min-width: 250px;
}
.column-header {
    text-align: center;
}
.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/*----- nav -----*/
nav .nav-container {
    width: 80%;
    margin: 0 auto;
}
nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
nav ul {
    list-style: none;
    margin-top: 30px;
}
nav #siteLinks a:hover {
    color: #686b6b;
}
nav .siteElements a {
    padding-left: 7.5px;
    padding-right: 7.5px;
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-brand:hover, 
.navbar-inverse .navbar-brand:focus {
  background-color: transparent;
  color: #999999;
  font-size: 24px;
  cursor: default;
}


/*----- header -----*/
.header-wrapper {
    width: 80%;
    margin: 0 auto;
}
.header-content {
    padding: 100px 0 100px 0;
    text-align: center;
    background-color: #eeeeee;
}
header {
    margin-top: -20px;
}
header p {
    width: 45%;
    margin: 30px auto 0 auto;
}
.profile-pic {
    height: 375px;
    width: 375px;
    border-radius: 50%;
}

/*----- work -----*/
.work {
    background-color: #dddedd;
}
.content-wrap {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}
.work a img {
    margin: 1%;
    width: 280px;
    height: 448px;
}

/*----- skills -----*/
.skills {
    background-color: #d6d9de;
}
.skills-container .column-small {
    text-align: center;
    min-width: 100px;
}
.skill-list {
    display: table;
    list-style: none;
}

/*----- projects -----*/
.projects {
    background-color: #c4c6cb;
}
.projects .column-small {
    margin-bottom: 40px;
}
.todo-pic, .adopt-pic {
    display: block;
    height: 316px;
    width: 157px;
    margin: 20px auto;
}
.sg-video {
    display: block;
    margin: 20px auto;
}

/*----- education -----*/
.education {
    background-color: #cfd9dc;
    padding: 30px 0;
}

/*----- footer -----*/
footer {
    background-color: #acafae;
    text-align: center;
    padding: 60px 0;
}


/*----- RESPONSIVE -----*/
@media only screen and (max-width: 991px) {
    header h1 {
        font-size: 24px;
    }
    header .profile-pic {
        height: 175px;
        width: 175px;
        border-radius: 50%;
    }
    header p {
        width: 90%;
    }
    .skills-container .column-small p {
        font-size: 16px;
    }
}
