---
layout: layouts/home.njk
---

<div>
  {# I guess tell the people who I am #}
  <p class="mb-6">
  Howdy. I'm Jordan, an engineer, wannabe writer, opinion provider, and reader. I currently work at Settle building the operating system for inventory-based businesses. 
  This site is meant as a dumping ground for the occasional "essay" (if you can call it that), "note" (whatever that means), or whatever else I feel like putting here 🤗.
  <p>
  <p class="mb-10">
  If you've found yourself here, I'm going to shamelessly plug my <a class="italic underline" target="_blank" href="https://give.achillesinternational.org/jordan">fundraiser</a> 
  for Achilles International. I'm raising money as part of the 2024 TCS NYC Marathon and get to support athletes with disabilities at the same time. 
  </p>
   
  
  {# Show my ~essays~ #}
  <h1 class="page-header">Essays</h1>
  {% set data = collections.sortedEssays | head(4) %}
  {% set counter = collections.sortedEssays | length %}
  {% include "writinglist.njk" %}

  {%- if counter > 4 %}
  <p class="pt-4">More essays can be found in <a class="underline" href="{{ '/posts/notes' | url }}">the archive</a>.</p>
  {%- endif %}

  {# Show my ~notes~ #}
  <h1 class="page-header mt-12">Notes</h1>
  {% set data = collections.sortedNotes | head(4) %}
  {% set counter = collections.sortedNotes | length %}
  {% include "writinglist.njk" %}

  {%- if counter > 4 %}
  <p class="pt-4">More notes can be found in <a class="underline" href="{{ '/posts/' | url }}">the archive</a>.</p>
  {%- endif %}

  {# List out my recs #}
  {% include "recs.njk" %}

  <div class="hidden">
    An occasionally (seldom) updated site with some musings and links to what I find interesting.
  </div>
</div>
