---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<div class="pt-12">
  <h1 class="text-2xl tracking-tight font-bold">Latest Posts</h1>

  {% set postslist = collections.posts | head(-3) %}
  {% set postslistCounter = collections.posts | length %}
  {% include "postslist.njk" %}

  <p class="pt-4">More posts can be found in <a class="underline" href="{{ '/posts/' | url }}">the archive</a>.</p>
</div>

