---
layout: layouts/home.njk
title: Notes
description: All of my random book highlights, notes, and more.
permalink: /notes/
eleventyNavigation:
  key: Notes
  order: 3
eleventyImport:
  collections: ["notes"]
---

<div class="">
  <h1 class="page-header">Notes</h1>

  <p class="my-4">A list of my book highlights and other random notes.</p>

  <div class="pt-2">
  {% set notesList = collections.sortedNotes %}
  {% include "noteslist.njk" %}
  </div>
</div>

