---
layout: layouts/home.njk
title: Notes
description: Notes and such.
permalink: /notes/
eleventyNavigation:
  key: Notes
  order: 3
eleventyImport:
  collections: ["notes"]
---

<div class="">
  <h1 class="page-header">Notes and such</h1>

  <div class="pt-2">
  {% set notesList = collections.sortedNotes %}
  {% include "noteslist.njk" %}
  </div>
</div>

