---
layout: layouts/home.njk
title: Now
description: What I'm doing now.
permalink: /now/
updated: 2024-05-07
eleventyNavigation:
  key: Now
  order: 0
---

<div>
  <h1 class="page-header">Now</h1>
  <p>
    Working on finding meaning. We'll see how that goes. I'm also training for the NYC Marathon! 
    I will be running and raising money for <a href="https://www.achillesinternational.org/" class="underline" target="_blank">Achilles International</a>. 
    Please <a class="italic underline" target="_blank" href="https://give.achillesinternational.org/jordan">donate</a> and support
    athletes with disabilities in their training and in getting to the start (and finish) line!
  </p>
  <h2 class="text-xl font-semibold mt-8">Current media</h2>

  {%- if ( currentMedia.books | length ) > 0%}
    <h3 class="text-lg mt-4 md:pt-0 font-semibold">Books</h3>
    <div>
      <ul class="prose-list">
        {% for book in currentMedia.books %}
          <li class="">
            <a href="{{ book.link | url }}" target="_blank" aria-label="Go to shop for book {{book.title}}" class="underline">{{ book.title }}</a>
            {%- if book.author %}
            <span class="text-sm text-slate-800">by {{ book.author }}</span>
            {%- endif %}

            {%- if book.detail %}
              <p class="">{{ book.detail }}</p>
            {%- endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  {%- endif %}

  {%- if (currentMedia.articles | length) > 0 %}
    <h3 class="text-lg mt-8 md:pt-0 font-semibold">Articles</h3>
    <div>
      <ul class="prose-list">
        {% for media in currentMedia.articles %}
          <li class="">
            <a href="{{ media.link | url }}" target="_blank" class="underline">{{ media.title }}</a>

            {%- if media.detail %}
              <p class="">{{ media.detail }}</p>
            {%- endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  {%- endif %}

  {%- if (currentMedia.tv | length) > 0 %}
    <h3 class="text-lg mt-8 md:pt-0 font-semibold">TV/Movies</h3>
    <div>
      <ul class="prose-list">
        {% for media in currentMedia.tv %}
          <li class="">
            {%- if media.link %}
            <a href="{{ media.link | url }}" target="_blank" class="underline">{{ media.title }}</a>
            {%- else %}
            <p class="text-black">{{ media.title }}</p>
            {%- endif %}

            {%- if media.detail %}
              <p class="mt-0">{{ media.detail }}</p>
            {%- endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  {%- endif %}
  <div class="mt-16">
    <p><b>Last updated:</b> <time>{{ updated | readableDate }}</time></p>
  </div>
</div>
