---
layout: layouts/home.njk
title: Now
description: What I'm doing now.
permalink: /now/
updated: 2024-12-20
eleventyNavigation:
  key: Now
  order: 0
---

<div>
    <h1 class="page-header">Now</h1>
    <p class="mt-2 mb-4">
        Working on finding meaning. We'll see how that goes. I'm currently a product engineer working on third-party integrations (think Shopify, Trackstar, etc.) and inventory management.
    </p>
    <p class="mb-4">
        In November, I ran the 2024 NYC Marathon and finished with a personal best. As part of that process, I raised $4,000 for Achilles International and got to enjoy an unforgettable weekend in New York.
    </p>
    <p class="mb-4">
        In other news, my new bike arrived in mid-December, but I haven't yet taken it out for a spin (thanks to the shippers for utterly mishandling it). 2025 will be the year of the bike and I'll be getting into more structured training. I've already got a gravel race on the docket for end of June.
        and will be doing a gravel race in June.
    </p>
    <p class="mb-4">
        You can email me at <pre>info [at] jordankatzen.com</pre>
    </p>
    <div class="mt-16">
        <p>
            <b>Last updated:</b> <time>{{ updated | readableDate }}</time>
        </p>
    </div>
</div>
