---
layout: layouts/home.njk
title: Now
description: What I'm doing now.
permalink: /now/
updated: 2025-05-12
eleventyNavigation:
  key: Now
  order: 0
---

<div>
    <h1 class="page-header">Now</h1>
    <p class="mt-2 mb-4">
        Working on finding meaning. We'll see how that goes. I'm currently a product engineer working on third-party integrations (think Shopify, Trackstar, etc.) and inventory management.
    </p>
    <p class="mb-4">
        2025 is the year of the bike—I have a gravel race scheduled in June. My goal for the year is to bike 3,000 miles. I'm at a bit over 1,500 so far.
    </p>
    <p class="mb-4">
        In November, I ran the 2024 NYC Marathon and finished with a personal best. As part of that process, I raised $4,000 for Achilles International and got to enjoy an unforgettable weekend in New York.
    </p>
    <p class="mb-4">
        You can email me at <pre>info [at] jordankatzen.com</pre>
    </p>
    <div class="mt-16">
        <p>
            <b>Last updated:</b> <time>{{ updated | readableDate }}</time>
        </p>
    </div>
</div>
