---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - sortedEssays
    - sortedNotes
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slugify }}/
---
<h1 class="page-header mb-4">Tagged “{{ tag }}”</h1>

{% set data = collections[ tag ] %}
{% include "essay-list.njk" %}

<p class="mt-8">See <a href="{{ '/tags/' | url }}" class="underline">all tags</a>.</p>
