---
layout: layouts/home.njk
title: Text blog
description: Notes from my phone
permalink: /microblog/
updated: 2024-05-30
---

<div>
  <h1 class="page-header">Text blog</h1>

  <div class="pt-2">
    <ul>
    {% for message in messages.messages | reverse %}
      <li class="py-1">
        <p>
        {{ message.text }}
        </p>
        <p class="text-sm">
        <span class="italic">Sent</span>: <time datetime="{{ message.timestamp | readableTimestampString}}">{{ message.timestamp | readableTimestampString }}</time></p>
        </p>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
